.leaflet-container {
  height: 400px;
  margin: 0 auto;
}
.tab-content {
  border: solid #ddd 1px;
  border-top: none;
  padding: 1em;
}
th span {
  width: 16px;
  display: inline-block;
  margin-right: 3px;
  margin-left: -0.5rem;
}

th {
  cursor: ns-resize;
}
