@media (min-width: 768px) {
  .left-label {
    text-align: right;
  }
}

.left-label {
  padding-top: calc(0.375rem + 1px);
}
input[type='checkbox'] {
  margin-right: 1em;
}

fieldset {
  border: 1px solid #dee2e6;
  border-radius: 0.5em;
  padding: 0 1em;
}
legend {
  margin: 0 1em 0.5em 0.5em;
  padding: 0 0.5em;
  width: auto;
}

.form-radios {
  list-style: none;
  padding-left: 0;
}
.form-radios input[type='radio'] {
  margin-right: 1em;
}

.form-buttons button,
.form-buttons a {
  margin-right: 1em;
}
